<h2>Información de la autora</h2>
<p><b>Foto personal:</b> <div id="personal-foto"><img src="images/foto.jpg" </img> </div></p>
<p><b>Nombre:</b> Rebeca Delgado</p>
<p><b>Profesión:</b> Ingeniera Informática</p>
