<<<<<<< HEAD
<h3> Listado de Preguntas </h3>
<table>
<% var i; for (i = 0; i < quizes.length; i++) { %>
	<tr><td><a href="quizes/<%=quizes[i].id %>"><%= quizes[i].pregunta %> </a></td></tr>
<% } %>
</table>
=======
<h3>Bienvenido a <%= title %></h3>
<br>
¡El portal donde podrá crear sus propios juegos!
<br>
<table>
<% var i; for (i = 0; i < quizes.length; i++) { %>
	<tr><td><a href="quizes/<% quizes[i].id %>"><%= quizes[i].pregunta %> </a></td></tr>
<% } %>
</table><p>
<a href="/quizes/new"> <button type="button"> Crear pregunta </button></a>
>>>>>>> busqueda
